@model Admin.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="box box-block bg-white">
    @if (TempData["Message"] != null)
    {
        <div class="row">
            <div class="col-xs-12">

                @if (TempData["Message"].ToString().ToLower().Contains("failed"))
                {
                    <div class="alert alert-danger-outline alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@TempData["Message"].ToString()</strong>
                    </div>
                }
                else
                {
                    <div class="alert alert-success-outline alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>@TempData["Message"].ToString()</strong>
                    </div>
                }
            </div>
        </div>
    }

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @for = "OldPassword" })
                @Html.TextBoxFor(m => m.OldPassword, new { type = "password", @class = "form-control", id = "txtOldPassword" })
                <span class="has-danger">
                    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "form-control-feedback" })
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @for = "NewPassword" })
                @Html.TextBoxFor(m => m.NewPassword, new { type = "password", @class = "form-control", id = "txtNewPassword" })
                <span class="has-danger">
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "form-control-feedback" })
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @for = "ConfirmPassword" })
                @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", @class = "form-control", id = "txtConfirmPassword" })
                <span class="has-danger">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "form-control-feedback" })
                </span>
            </div>
        </div>
    </div>
    <div class="row m-t-2">
        <div class="col-xs-12 modal-footer">
            <input id="btnUpdate" type="submit" class="btn btn-black pull-right" value="Change Password" />
        </div>
    </div>
</div>
}
